{
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            0
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "extends": "eslint:recommended",
    "env": {
        "node": true
    }
}
